<h1>Show</h1>

<div class="card">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
</div>
<%= link_to '#index', restaurants_path %>
<%= link_to '#edit', edit_restaurant_path(@restaurant) %>
<%= link_to '#delete', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>

<h2>#reviews</h2>
<div class="container">
  <% @restaurant.reviews.each do |review| %>
    <div class="card">
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
      <%= link_to '#delete review', review_path(review), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>

<%= render "reviews/form" %>

<!--
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
-->

